<div class="teacher-list-container">
  <h2>Listagem de docentes:</h2>
  <mat-form-field appearance="fill">
    <mat-label>Buscar Docente</mat-label>
    <input matInput type="search" placeholder="Nome ou ID" [(ngModel)]="searchQuery" (ngModelChange)="filterTeachers()" />
  </mat-form-field>

  <mat-card class="teacher-card-container">
    <mat-table [dataSource]="filteredTeachers" class="mat-elevation-z8">
      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let teacher"> {{ teacher.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let teacher"> {{ teacher.nome }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
        <mat-cell *matCellDef="let teacher"> {{ teacher.telefone | PhonePipe}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let teacher"> {{ teacher.email }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let teacher">
          <button mat-button color="primary" (click)="viewTeacher(teacher.id)">Ver Mais</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
