$primary-color: #008585;
$secondary-color: #809bce;
$tertiary-color: #95b8d1;
$quarternary-color: #b8e0d4;
$quinary-color: #d6eadf;
$sexenary-color: #e5c185;
$septenary-color: #c7522a;


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: blackr;
  background-color: $tertiary-color;
  
  a{
    text-decoration: none;
    color:black;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .app-logo {
    margin-left: 0.5rem;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 50%;
  }

  .user-info {
    display: flex;
    align-items: center;

    .user-avatar {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-left: 0.5rem;
    }
  }
}
@media (max-width: 768px) {
  .toolbar {
    flex-direction: row;
    padding: 1rem;

    .app-logo {
      max-width: 20%; 
      height: auto;
      margin-left: 0;
    }

    .user-info {
      .user-avatar {
        max-width: 15%; 
        height: auto;
        margin-left: 0.5rem;
      }
    }

    a {
      font-size: 1rem; 
    }

    
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .toolbar {
    flex-direction: column; 
    align-items: center; 
    padding: 1rem;
    gap: 0.5rem;
    min-height: 150px; 
    .app-logo {
      max-width: 10%; 
      height: auto;
      margin-left: 0;
    }
}}