$primary-color: teal;
$secondary-color: #809bce;
$tertiary-color: #95b8d1;
$quarternary-color: #b8e0d4;


.sidenav-container {
  height: 100%;
}


.sidenav {
  background: $tertiary-color;
  color: white;
  transition: width 0.3s ease;
  border-radius: 0;;
}

#sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  h3 {
    padding: 0 0.5rem 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.mat-sidenav-content {
  padding: 0.625rem;
  width: 100%;
  transition: margin-left 0.3s ease;
  background: $tertiary-color;
}


.closed-content {
  height: 4rem !important; 
  overflow: hidden;
  padding: 0; 
}

.mat-sidenav-content.hidden-content {
  width: 0;
  padding: 0;
  overflow: hidden;
}

mat-list-item {
  padding: 0.2rem;
  margin: 0.5rem;
  width: 95%;
  
  button {
    width: 90%;
    border-radius: 0.75rem;
    border-color: black;
    display: flex;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
  }
}

.mat-list-item mat-icon {
  margin-right: 1rem;
}
mat-divider {
  margin: 1rem 0 1rem 0;
}

@media (max-width: 768px) {
  .sidenav-container {
    position: relative;
    overflow: hidden;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15.625rem;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &.open {
      transform: translateX(0); 
    }
  }

  .mat-sidenav-content {
    margin-left: 0; 
    padding: 0;
    transition: margin-left 0.3s ease;
  }
}