$primary-color: #008585;
$secondary-color: #809bce;
$tertiary-color: #95b8d1;
$quarternary-color: #b8e0d4;
$quinary-color: #d6eadf;
$sexenary-color: #e5c185;
$septenary-color: #c7522a;


:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  padding: 1rem 3rem 1rem 4rem;
  margin-right: 3rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  .statistic-card,
  .student-card {
    border-radius: 0.5rem; 
    box-shadow: 0.5rem 0.5rem 0.25rem 0rem rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
    align-items: center;
  }

  .statistic-card {
    color:#fdfbff;
    background-color: $primary-color;
    min-width: 12rem;
    min-height: 6rem;
    max-width: 18rem;
    max-height: 12rem;

  }

  .student-card {
    min-width: 10rem;
    min-height: 18rem;
    max-width: 15rem;
    max-height: 20rem;
    text-align: center;
    border: 0.2rem solid $primary-color;

    img {
      object-fit: cover;
      width: 20%;
      height: auto;
    }

    mat-card-content {
      margin: 0.5rem 0;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        font-size: 1rem;
        align-items: center;
        gap: 0.2rem;
      }

      button {
        width: 100%;
        margin-top: 1rem;
        background-color: $primary-color;
        color: #fdfbff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #00858580;
        }
      }
    }
  }
}

.mat-toolbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.625rem;
  height: fit-content;
  background-color: #fff;

  h2 {
    color: $primary-color;
    font-weight:500;
    flex-grow: 1;
    text-align: center;
    background-color: #00858514;
    height: 3rem;
    padding-top: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  mat-form-field {
    width: 100%;
    margin-top: 1rem;
    padding: 0 3rem 0 4rem;
  }
}

@media(max-width:768px){
  .card-container {
    .statistic-card,
    .student-card {
      max-width: 40%;
      padding: 0.5rem;
    }
  }

}


@media (max-width: 480px) {
  :host {
    margin-right: 0;
  }
  .card-container {
    .statistic-card,
    .student-card {
      max-width: 30%;
      padding: 0.5rem;
    }
  }

  .mat-toolbar {
    padding: 0.5rem;
    h3 {
      font-size: 1.2rem;
    }
  }
}

